@import "tailwindcss";

:root {
  --background: #FFF6E6;
  --foreground: #120F0F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-spline-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-spline-sans);
}

@layer components {
  .container {
    @apply w-full min-w-full px-4 sm:px-6 lg:px-8;
  }
}

